@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900');
:root {
  --txt-size: 80px;
  --txt-color: #fff;
  --bg-color: #000;
}

body {
  background-color: var(--bg-color);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  position: fixed;
}

#app {
  width: 100vw;
  height: 100vh;
}

.group {
  width: fit-content;
  height: fit-content;
  display: flex;
  /* font-size: var(--txt-size); */
  font-family: "Unbounded", cursive;
  letter-spacing: 0.05em;
  line-height: 85%;
  transition: 0.25s;
  font-weight: 100;
}

.text {
  display: inline-block;
  margin: 0;
  padding: 0;
  color: var(--txt-color);
}